<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
              .Welcome {
        background-image:url("/image/blue and pink.webp");
        background-repeat: no-repeat;
        background-size: cover;
        
        }
            body {
              background-image:url("/image/Lily_Pond.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        padding: 0px;
            }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.js"></script>
<script>
        var sound = new Howl({
        src: ["Sounds/firstGuidedMeditationRoughDraft.wav"]
    });


    function timeout(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

    async function SoundsAndDelays() {

        sound.play();

        await timeout(3000);

        console.log("is delay working?");

        sound.pause();

        await timeout(3000);
        console.log("is delay working?");


        sound.play();

        await timeout(3000);
        console.log("is delay working?");

        sound.pause();


          await timeout(3000);
        console.log("is delay working?");

                sound.play();


          await timeout(3000);
        console.log("is delay working?");

                sound.pause();


          await timeout(3000);
        console.log("is delay working?");

                 sound.play();


          await timeout(3000);
        console.log("is delay working?");

                sound.pause();
               

          await timeout(3000);
        console.log("is delay working?");

                sound.play();


          await timeout(3000);
        console.log("is delay working?");


          await timeout(3000);
        console.log("is delay working?");


          await timeout(3000);
        console.log("is delay working?");


          await timeout(3000);
        console.log("is delay working?");


          await timeout(3000);
        console.log("is delay working?");


          await timeout(3000);
        console.log("is delay working?");


    }
    
    SoundsAndDelays();
    

</script>
</head>
<body><br><br><br><br>
<div class="Lily_Pond bg">
  <div class="text-center">
    <img src="~/image/Lotus.gif" alt="Lotus">
  </div>
</div>
      

</body>
</html>
